---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <div class="space-y-4">
    <h1 class="text-3xl font-bold">首頁</h1>

    <p class="text-justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quod architecto dolorem sequi deleniti. Blanditiis
      totam fugiat ullam dicta quo ipsa, tenetur labore, soluta aperiam repellat pariatur ad quis rerum expedita
      architecto veniam tempore consequuntur dolorum commodi similique. Pariatur, maiores quis nesciunt nemo nostrum sit
      temporibus? Voluptatibus possimus veritatis et aliquam error illum temporibus ut quisquam vitae, ipsa consectetur
      beatae. Totam corrupti saepe recusandae qui dicta nihil veritatis accusantium delectus, ullam debitis fugiat!
      Doloribus amet magni provident quod sequi et eum possimus id assumenda aliquam unde, modi laborum ullam voluptas
      at delectus inventore, qui recusandae fuga optio facilis esse asperiores! Veritatis pariatur laudantium itaque
      doloribus eum a perferendis animi? Eligendi reiciendis hic commodi tenetur eos nihil vitae amet odio, pariatur
      quia quae nesciunt, odit, ipsa non porro cumque? Illo odio maiores qui expedita consectetur? Aliquam sunt, quam
      unde accusantium quidem sed, maxime eius corrupti, blanditiis vel quia nemo possimus dolor. Deleniti odio
      laudantium illum harum odit suscipit quasi blanditiis aliquam velit voluptatum assumenda, facere, autem alias
      dolore officiis impedit ducimus culpa repellat sunt. Nemo veniam in dicta maxime sequi? Ullam deleniti repellat
      numquam dolore repellendus non, voluptas necessitatibus earum iure ratione explicabo itaque sapiente, perferendis
      fuga distinctio minima quae labore iusto consectetur! Omnis praesentium neque rem recusandae laboriosam sed. Ab
      perspiciatis sed, molestiae illo cupiditate, distinctio dolorum similique incidunt possimus quae neque id. Vel
      commodi voluptates aut assumenda veniam eius officiis architecto incidunt vero ut provident nisi deserunt facilis
      ex, harum eos at dignissimos exercitationem corrupti pariatur labore doloremque? Quos exercitationem ipsum nobis
      corporis eum beatae dolores debitis, mollitia in ut vero repellat nesciunt eius est libero aspernatur? Repellat et
      accusamus autem quos non fugit suscipit repellendus? Non laboriosam corrupti consequatur! Praesentium animi
      repudiandae, optio corporis consectetur beatae voluptatibus enim sint deserunt officia earum inventore repellendus
      vel nesciunt cumque asperiores aliquam temporibus eius. Numquam laborum aperiam officiis, rerum veniam obcaecati
      dolorem accusantium excepturi eius aut esse nam est earum, nisi quasi. Dolorem odio ad ullam beatae modi magni
      adipisci repellat neque impedit dolore, itaque blanditiis mollitia consequuntur tempora, voluptate laudantium
      maxime magnam rem natus inventore saepe. Quibusdam officia perferendis, vitae laudantium ducimus eaque doloremque
      ut recusandae soluta ipsum harum magni asperiores! Modi sed quam eaque architecto quia perferendis fugiat quas
      accusantium vitae cumque. Dolorem vero iusto ex nisi laborum consequatur nobis ducimus est eos sunt hic velit
      facere, maiores, amet dolorum quam minus optio incidunt ab laudantium quis laboriosam earum. Nesciunt odit
      voluptatem suscipit magnam facere? Qui quod doloremque nam, sed facere quo rerum doloribus? Voluptatum enim optio,
      perspiciatis voluptas quod consequatur eligendi culpa vero inventore perferendis id nemo ullam facilis
      consequuntur ipsum voluptatem ipsam? Voluptate nihil, saepe dolor neque nostrum perspiciatis facere. Nam
      exercitationem, aliquid qui possimus quibusdam aut minima voluptatum in, ipsam fugiat nisi sed pariatur. Enim, hic
      magnam. Accusantium corporis beatae quas sed saepe explicabo voluptate numquam itaque nam, molestias excepturi
      aliquam voluptatibus possimus doloremque, in architecto neque laboriosam ullam labore totam minus libero? Eos,
      reprehenderit! Aut nemo ipsam repudiandae atque labore id molestiae adipisci, hic commodi.
    </p>

    <img src="https://picsum.photos/seed/picsum/600/400" alt="Random Image" data-aos="fade-up" />
  </div>
</Layout>

<script>
  import AOS from 'aos';

  AOS.init();
</script>
