---

---

<header class="w-full">
  <nav class="mx-auto max-w-3xl">
    <ul class="flex items-center justify-between p-4">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
